@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lobster&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Danfo&family=Jost:ital,wght@0,100..900;1,100..900&family=Nanum+Myeongjo&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Satisfy&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}

.cabeza{
    width: 100%;
    height: auto;
}
.subcabeza1{
    width: 100%;
    height: 110px;
    background: white;
    display: flex;
    justify-content: center;
}
.cuadro1cabeza1 {
    width: 1920px;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo general de la barra de navegación */
.navbar {
    width: 100%;
    height: 100%;

}

.nav-item {
    border-radius: 20px;
    border: white;
}
.bg-cyen{
    background: #065d73!important;

}
.txtcuadro1cabeza1{
    font-size: 50px;
    text-decoration: none;
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    
}

.navbar-nav {
    text-align: center; 
}

.navbar-nav .nav-item {
    margin: 0 15px; 
}
.navbar-toggler-icon{
    background: transparent;
}
.navbar-nav .nav-link {
    border-radius: 20px;
    font-size: 48px;
    color: white;
    transition: color 0.3s ease;
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
    white-space: nowrap;
}

.navbar-nav .nav-link:hover {
    transition: 0.6s;
    color: gray;
    text-decoration: none;
    border-radius: 20px;
}

/* Estilo para el logo */
.navbar-brand img {
    padding: 0;
    margin: 0;
    width: 250px;
}




/* Mantener todo centrado en dispositivos pequeños */
@media (max-width:  991px) {

/* Barra de navegación en la parte superior, sin superponer el contenido */
    .navbar {
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; 
        background-color: red; 
    }

/* Estilo de los elementos del menú en la barra */
    .navbar-nav {
        border-radius: 20px;
        width: 100%;           
        background: #0a4e5b!important;     
        padding: 0;           
        margin: 0;           
    }
    
/* Ajuste de la altura de la barra de navegación en dispositivos móviles */
    .subcabeza1 {
        height: 80px;
    }
    .txtcuadro1cabeza1{
        transform: translateY(10px);
        font-size: 20px;
    }   
    .navbar-nav .nav-item .nav-link {
        height: 35px; 
        width: 100%;  
        display: inline-block;
        line-height: 20px; 
        margin: 5px;
        border-radius: 20px;
        font-size: 18px;
        color: white;
        transition: color 0.3s ease;
        font-family: "Lobster", serif;
        font-weight: 400;
        font-style: normal;
        white-space: nowrap;
    }
    .navbar-nav .nav-item .nav-link:hover {
        border: 2px solid cadetblue;
        color: black;
    }
    
}
@media (max-width: 1461px) and (min-width: 991px) {
    .bg-cyen{
        background: teal;
    
    }
    
/* Ajuste de la altura de la barra de navegación en dispositivos móviles */
    .subcabeza1 {
        height: 120px;
    }
    .txtcuadro1cabeza1{
        transform: translateY(10px);
        font-size: 40px;
    } 
}